@tailwind base;
@tailwind components;
@tailwind utilities;

.cursive {
  font-family: cursive;
}

.ql-container {
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 13px;
  height: 85% !important;
  margin: 0px;
  position: relative;
}

.line-break-anywhere {
  line-break: anywhere;
}

#recomended-products::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 1rem;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
